<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" th:href="@{/images/logotipo.png}">

    <title>JobiFy | Listado de Categorías</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

<body>
<header th:insert="~{fragments/menu :: menu-principal}"></header>

<main role="main">
    <hr>
    <div class="container">

        <div class="card">
            <h4 class="card-header"><strong>Listado de Categorías 🧩</strong></h4>
            <div class="card-body">
                <a class="btn btn-primary mb-2" th:href="@{/categorias/create}" role="button" title="Crear nueva Categoría"><i class="fas fa-file" aria-hidden="true"></i> Nueva</a>
                <hr>
                <!-- Aviso al usuario que se han guardado o eliminado correctamente los datos (depende del método que se use) -->
                <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Operaciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="categoria : ${categorias}">
                            <th scope="row" th:text="${categoria.id}"></th>
                            <td th:text="${categoria.nombre}"></td>
                            <td th:text="${categoria.descripcion}"></td>
                            <td>
                                <a th:href="@{/categorias/edit/{id} (id=${categoria.id}) }" class="btn btn-info btn-sm" role="button" title="Editar"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                                <a th:href="@{/categorias/delete/{id} (id=${categoria.id}) }" onclick="return confirm('¿Realmente desea eliminar la categoría?')" class="btn btn-danger btn-sm" role="button" title="Eliminar"><i class="fas fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div><br>

                <!-- Para aplicar paginación, si el total de páginas es mayor a 0 -->
                <nav th:if="${categorias.totalPages > 0}" aria-label="Page navigation example" class="d-flex justify-content-center">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${categorias.number == 0 ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/categorias/index(page=${categorias.number - 1})}">Anterior</a>
                        </li>
                        <li class="page-item" th:classappend="${i eq categorias.number + 1} ? 'active'" th:each="i : ${#numbers.sequence( 1, categorias.totalPages, 1)}">
                            <a class="page-link" th:href="@{/categorias/index?page={tmpPag} (tmpPag=${i-1}) }" th:text="${i}" th:title="${'Página '+ i}" data-toggle="tooltip"></a>
                        </li>
                        <li class="page-item" th:classappend="${categorias.number == (categorias.totalPages - 1) ? 'disabled' : ''}">
                            <a th:href="@{/categorias/index(page=${categorias.number + 1})}" class="page-link">Siguiente</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div><br>
    </div>
</main>

<footer class="footer" th:insert="~{fragments/footer :: pie-pagina}"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
