<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" th:href="@{/images/logotipo.png}">

    <title>JobiFy | Formulario de Registro</title>
    
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
   	<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>
	<header th:insert="~{fragments/menu :: menu-principal}"></header>

    <main role="main">
      <hr>
      <div class="container">

        <div class="card">
          <h4 class="card-header"><strong>Formulario de registro 🆕</strong></h4>
          <div class="card-body">
            <form th:action="@{/signup}" method="post" th:object="${usuario}">
            	<div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
					Por favor, corrige los siguientes errores:
					<ul>
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>	<!-- Creo una variable temporal "err" y si encuentra algún error avisa -->
					</ul>
				</div>
            
                <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="nombre">* Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" name="nombre" placeholder="Escriba su nombre" pattern="[A-Za-z\s]+" title="El nombre debe contener solo letras y espacios" required autofocus>
                    <small>🔤 Solo letras y espacios</small>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="email">* Correo electrónico</label>
                    <input type="email" class="form-control" th:field="*{email}" id="email" name="email" placeholder="Escriba su correo electrónico" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Email" required>
					<small>📧 usuario@dominio.com</small>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="username">* Username</label>
                    <input type="text" class="form-control" th:field="*{username}" id="username" name="username" placeholder="Escriba su nombre de usuario" pattern="^[a-zA-Z0-9]{3,15}$" title="El username debe contener entre 3 y 15 caracteres alfanuméricos" required>
                    <small>🔡 3-15 caracteres alfanuméricos</small>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="password">* Password</label>
                    <input type="password" class="form-control" th:field="*{password}" id="password" name="password" placeholder="Escriba su contraseña" pattern=".{7,}" title="La contraseña debe contener 6 o más caracteres alfanuméricos" required>
                    <small>🔒 6+ caracteres alfanuméricos</small>
                  </div>
                </div>
              </div>
              <hr>
              <button type="submit" title="Quiero registrarme" class="btn btn-primary">Registrarse</button>  
            </form>
          </div>
        </div>
      </div>

    </main>
    
 	<footer class="footer" th:insert="~{fragments/footer :: pie-pagina}"> </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>
